@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: #1c1f21;
  --first-content: #e8b678;
  --second-content: #5e5c53;
  --white-content: #e7e7e7;
  --cards: #262a2c;
  --icons: #a3b2b7;
  --highlights: #c49a53;
  --special: #5c6b74;
  --error: #d32f2f;
  --success: #43a047;
  --info: #2196f3;
  --warning: #ff9800;
  --errorIcon: #e57373;  
  --successIcon: #81c784; 
  --infoIcon: #64b5f6;   
  --warningIcon: #ffb74d;
  --font-sans: "Inter", Arial, Helvetica, sans-serif;
  --font-size-base: 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-first-content: var(--first-content);
  --color-second-content: var(--second-content);
  --color-cards: var(--cards);
  --color-icons: var(--icons);
  --color-highlights: var(--highlights);
  --color-hoovers: var(--hoovers);
  --color-special: var(--special);
  --color-white-content: var(--white-content);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-info: var(--info);
  --color-warning: var(--warning);
  --color-errorIcon: var(--errorIcon);
  --color-successIcon: var(--successIcon);
  --color-infoIcon: var(--infoIcon);
  --color-warningIcon: var(--warningIcon);
  --font-sans: var(--font-geist-sans);
}

html {
  height: 100%; 
}
body {
  font-size: var(--font-size-base);
  background: var(--background);
  color: var(--first-content);
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  justify-self: center;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  gap: .5rem;
}

h2 {
  font-size: 1.75rem;
  color: var(--first-content);
}
