@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: #1c1f21;
  --first-content: #e8b678;
  --second-content: #5e5c53;
  --white-content: #e7e7e7;
  --cards: #262a2c;
  --icons: #a3b2b7;
  --highlights: #c49a53;
  --special: #5c6b74;
  --error: #d32f2f;
  --success: #1b5e20;
  --info: #1a3f63;
  --warning: #e65100;
  --errorIcon: #e57373;
  --successIcon: #2e7d32;
  --infoIcon: #64b5f6;
  --warningIcon: #ffb74d;
  --product-black: #121212;
  --product-gray: #44474a;
  --product-white: #f5f5f5;
  --product-orange: #ff9800;
  --product-red: #d32f2f;
  --product-yellow: #ffeb3b;
  --product-pink: #e91e63;
  --product-blue: #2196f3;
  --product-silver: #c0c0c0;
  --font-sans: "Inter", Arial, Helvetica, sans-serif;
  --font-size-base: 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-first-content: var(--first-content);
  --color-second-content: var(--second-content);
  --color-cards: var(--cards);
  --color-icons: var(--icons);
  --color-highlights: var(--highlights);
  --color-hoovers: var(--hoovers);
  --color-special: var(--special);
  --color-white-content: var(--white-content);
  --color-error: var(--error);
  --color-success: var(--success);
  --color-info: var(--info);
  --color-warning: var(--warning);
  --color-errorIcon: var(--errorIcon);
  --color-successIcon: var(--successIcon);
  --color-infoIcon: var(--infoIcon);
  --color-warningIcon: var(--warningIcon);
  --color-product-black: var(--product-black);
  --color-product-gray: var(--product-gray);
  --color-product-white: var(--product-white);
  --color-product-orange: var(--product-orange);
  --color-product-red: var(--product-red);
  --color-product-yellow: var(--product-yellow);
  --color-product-pink: var(--product-pink);
  --color-product-blue: var(--product-blue);
  --color-product-silver: var(--product-silver);
  --font-sans: var(--font-geist-sans);
}

html {
  height: 100%;
}
body {
  font-size: var(--font-size-base);
  background: var(--background);
  color: var(--first-content);
  font-family: var(--font-sans);
  height: 100vh;
  width: 100vw;
  gap: 0.5rem;
}

h2 {
  color: var(--first-content);
}

.shorten-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  line-height: 1.2;
}

.no-inputArrow {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

.no-inputArrow::-webkit-inner-spin-button,
.no-inputArrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
